In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import json
import requests
import calendar
import datetime

In [2]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 10)

In [3]:
saved_style_state = matplotlib.rcParams.copy()

Grab data locally

In [4]:
filepath = "~/code1161base/OpenData/autos.csv"
if os.path.isfile("~/code1161base/OpenData/autos.csv"):
    print "loading from file"

autos_data = pd.read_csv(filepath)
print "done"

done

Grab data from internet

In [5]:
# url = ""
#         response =

Read JSON file

In [6]:
#

Fetch postcode API
parameters:
pnr = postcode
Country =

In [7]:
# url = https://api.bring.com/shippingguide/api/postalCode.json

# parameters:
#     pnr = postcode

In [8]:
autos_data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3T�RER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

Get categories headings (columns) for autos_data

In [9]:
autos_data.columns

Index([u'dateCrawled', u'name', u'seller', u'offerType', u'price', u'abtest',
       u'vehicleType', u'yearOfRegistration', u'gearbox', u'powerPS', u'model',
       u'kilometer', u'monthOfRegistration', u'fuelType', u'brand',
       u'notRepairedDamage', u'dateCreated', u'nrOfPictures', u'postalCode',
       u'lastSeen'],
      dtype='object')

# Dropping odd case = row (129969)

In [10]:
autos_data.drop([129969], axis=0, inplace=True)

Using iloc to index a row as Series
*** row number - 1 ***

# Testings the types of objects in Autos.csv

In [11]:
type(autos_data.index)

pandas.indexes.numeric.Int64Index

In [12]:
rowOne = autos_data.iloc[0]
rowOne

dateCrawled            2016-03-24 11:52:17
name                            Golf_3_1.6
seller                              privat
offerType                          Angebot
price                                  480
abtest                                test
vehicleType                            NaN
yearOfRegistration                    1993
gearbox                            manuell
powerPS                                  0
model                                 golf
kilometer                           150000
monthOfRegistration                      0
fuelType                            benzin
brand                           volkswagen
notRepairedDamage                      NaN
dateCreated            2016-03-24 00:00:00
nrOfPictures                             0
postalCode                           70435
lastSeen               2016-04-07 03:16:57
Name: 0, dtype: object

In [13]:
rowOne["dateCrawled"]

'2016-03-24 11:52:17'

indexing a column on a data frame

In [14]:
dateCrawled = autos_data["dateCrawled"]

dateCrawled

0         2016-03-24 11:52:17
1         2016-03-24 10:58:45
2         2016-03-14 12:52:21
3         2016-03-17 16:54:04
4         2016-03-31 17:25:20
5         2016-04-04 17:36:23
6         2016-04-01 20:48:51
7         2016-03-21 18:54:38
8         2016-04-04 23:42:13
9         2016-03-17 10:53:50
10        2016-03-26 19:54:18
11        2016-04-07 10:06:22
12        2016-03-15 22:49:09
13        2016-03-21 21:37:40
14        2016-03-21 12:57:01
15        2016-03-11 21:39:15
16        2016-04-01 12:46:46
17        2016-03-20 10:25:19
18        2016-03-23 15:48:05
19        2016-04-01 22:55:47
20        2016-04-01 19:56:48
21        2016-03-27 11:38:00
22        2016-03-23 14:52:51
23        2016-03-12 19:43:07
24        2016-03-13 20:40:49
25        2016-03-18 21:44:09
26        2016-03-10 19:38:18
27        2016-03-07 12:51:23
28        2016-03-09 11:56:38
29        2016-03-08 19:55:19
                 ...
371498    2016-03-11 15:50:38
371499    2016-03-08 13:52:00
371500    2016-03-21 23:40:49
371501    2016-03-26 18:36:54
371502    2016-04-01 12:59:21
371503    2016-04-01 01:55:58
371504    2016-03-07 17:06:35
371505    2016-04-03 19:56:57
371506    2016-03-20 18:47:59
371507    2016-03-16 17:06:19
371508    2016-04-02 16:43:27
371509    2016-03-11 23:40:32
371510    2016-03-06 21:11:23
371511    2016-03-31 18:50:37
371512    2016-03-25 18:48:06
371513    2016-03-21 15:36:22
371514    2016-04-04 11:45:16
371515    2016-03-09 11:36:55
371516    2016-04-04 09:57:12
371517    2016-03-28 13:48:07
371518    2016-04-02 20:37:03
371519    2016-03-09 13:37:43
371520    2016-03-19 19:53:49
371521    2016-03-27 20:36:20
371522    2016-03-21 09:50:58
371523    2016-03-14 17:48:27
371524    2016-03-05 19:56:21
371525    2016-03-19 18:57:12
371526    2016-03-20 19:41:08
371527    2016-03-07 19:39:19
Name: dateCrawled, dtype: object

In [15]:
name = autos_data["name"]

name

0                                                Golf_3_1.6
1                                      A5_Sportback_2.7_Tdi
2                            Jeep_Grand_Cherokee_"Overland"
3                                        GOLF_4_1_4__3T�RER
4                            Skoda_Fabia_1.4_TDI_PD_Classic
5         BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...
6                               Peugeot_206_CC_110_Platinum
7                              VW_Derby_Bj_80__Scheunenfund
8                      Ford_C___Max_Titanium_1_0_L_EcoBoost
9         VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerk...
10                                        Mazda_3_1.6_Sport
11            Volkswagen_Passat_Variant_2.0_TDI_Comfortline
12                        VW_Passat_Facelift_35i__"7Sitzer"
13                           VW_PASSAT_1.9_TDI_131_PS_LEDER
14        Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Blu...
15                             KA_Lufthansa_Edition_450�_VB
16                                              Polo_6n_1_4
17                              Renault_Twingo_1.2_16V_Aut.
18                         Ford_C_MAX_2.0_TDCi_DPF_Titanium
19                        Mercedes_Benz_A_160_Classic_Klima
20                        Volkswagen_Scirocco_1.4_TSI_Sport
21        BMW_530i_T�V_7/17_Scheckheftgepflegt_sehr_gute...
22                            Opel_Meriva_1.Hand_T�V_3.2018
23                                             Stadtflitzer
24                               MERCEDES_200E__T�V_04/2016
25                    BMW_530d_touring_Vollausstattung_NAVI
26                                Citroen_C4_Grand_Picasso.
27                           Honda_Civic_1.4_i_VTEC_Comfort
28                                     Volkswagen_T3_andere
29                                           Fiat_Punto_1.2
                                ...
371498                              Opel_Vectra_Edition_100
371499    OPEL_CORSA_B__ECO_SWING__T�V_1/17_8fach_Bereif...
371500    Volkswagen_Golf_1.4_TSI_BlueMotion_Technology_...
371501                                     Chrysler_Voyager
371502                                    Audi_A4_Avant_1.8
371503                                     Subaru_Justy_1.3
371504                                         220_cdi_Benz
371505                     Opel_Astra_1.6_Caravan_Selection
371506    Volkswagen_Golf_1.9_TDI_DPF_Goal_Rentnerfzg._1...
371507    Gepflegter_Audi_a4_2.0tdi_xenon_ahk_klima_sche...
371508                                       Opel_Astra_1.8
371509    LT_35_DIESEL_Gruene_Plakette....letzte_Gelegen...
371510    Mercedes_benz_e_klasse_avangarde_220_cdi_grune...
371511                             Audi_A3_1.8_T_Attraction
371512                   Mercedes_Benz_E_400_CDI_Avantgarde
371513                         Seat_Leon_1.9_TDI_4/5_Tueren
371514                   Renault_1_4_ltr.16_V_Megane_Cabrio
371515                                Skoda_Fabia_Kombi_1.4
371516                                  Volkswagen_Lupo_1.0
371517                     Volkswagen_Golf_2.0_TDI_DPF_Team
371518                            Bmw_320_D_DPF_Touring_!!!
371519    Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll
371520                                         turbo_defekt
371521                   Opel_Zafira_1.6_Elegance_T�V_12/16
371522                                      Mitsubishi_Cold
371523                           Suche_t4___vito_ab_6_sitze
371524                Smart_smart_leistungssteigerung_100ps
371525                   Volkswagen_Multivan_T4_TDI_7DC_UY2
371526                               VW_Golf_Kombi_1_9l_TDI
371527         BMW_M135i_vollausgestattet_NP_52.720____Euro
Name: name, dtype: object

In [16]:
seller = autos_data["seller"]

seller

0         privat
1         privat
2         privat
3         privat
4         privat
5         privat
6         privat
7         privat
8         privat
9         privat
10        privat
11        privat
12        privat
13        privat
14        privat
15        privat
16        privat
17        privat
18        privat
19        privat
20        privat
21        privat
22        privat
23        privat
24        privat
25        privat
26        privat
27        privat
28        privat
29        privat
           ...
371498    privat
371499    privat
371500    privat
371501    privat
371502    privat
371503    privat
371504    privat
371505    privat
371506    privat
371507    privat
371508    privat
371509    privat
371510    privat
371511    privat
371512    privat
371513    privat
371514    privat
371515    privat
371516    privat
371517    privat
371518    privat
371519    privat
371520    privat
371521    privat
371522    privat
371523    privat
371524    privat
371525    privat
371526    privat
371527    privat
Name: seller, dtype: object

In [17]:
offerType = autos_data["offerType"]

offerType

0         Angebot
1         Angebot
2         Angebot
3         Angebot
4         Angebot
5         Angebot
6         Angebot
7         Angebot
8         Angebot
9         Angebot
10        Angebot
11        Angebot
12        Angebot
13        Angebot
14        Angebot
15        Angebot
16        Angebot
17        Angebot
18        Angebot
19        Angebot
20        Angebot
21        Angebot
22        Angebot
23        Angebot
24        Angebot
25        Angebot
26        Angebot
27        Angebot
28        Angebot
29        Angebot
           ...
371498    Angebot
371499    Angebot
371500    Angebot
371501    Angebot
371502    Angebot
371503    Angebot
371504    Angebot
371505    Angebot
371506    Angebot
371507    Angebot
371508    Angebot
371509    Angebot
371510    Angebot
371511    Angebot
371512    Angebot
371513    Angebot
371514    Angebot
371515    Angebot
371516    Angebot
371517    Angebot
371518    Angebot
371519    Angebot
371520    Angebot
371521    Angebot
371522    Angebot
371523    Angebot
371524    Angebot
371525    Angebot
371526    Angebot
371527    Angebot
Name: offerType, dtype: object

In [18]:
price = autos_data["price"]

price

0           480
1         18300
2          9800
3          1500
4          3600
5           650
6          2200
7             0
8         14500
9           999
10         2000
11         2799
12          999
13         2500
14        17999
15          450
16          300
17         1750
18         7550
19         1850
20        10400
21         3699
22         2900
23          450
24          500
25         2500
26         5555
27         6900
28         1990
29          690
          ...
371498      699
371499      600
371500    20400
371501     3900
371502     1600
371503     1700
371504     2600
371505      800
371506     5900
371507     5999
371508     1400
371509     1900
371510     6500
371511     1999
371512     5000
371513     4400
371514      999
371515     1690
371516     1490
371517     7900
371518     3999
371519     5250
371520     3200
371521     1150
371522        0
371523     2200
371524     1199
371525     9200
371526     3400
371527    28990
Name: price, dtype: int64

In [19]:
abtest = autos_data["abtest"]

abtest

0            test
1            test
2            test
3            test
4            test
5            test
6            test
7            test
8         control
9            test
10        control
11        control
12        control
13        control
14        control
15           test
16           test
17        control
18           test
19           test
20        control
21           test
22           test
23           test
24           test
25        control
26        control
27           test
28           test
29           test
           ...
371498    control
371499    control
371500       test
371501       test
371502       test
371503    control
371504    control
371505       test
371506       test
371507       test
371508    control
371509       test
371510       test
371511    control
371512       test
371513    control
371514    control
371515       test
371516    control
371517       test
371518       test
371519    control
371520    control
371521    control
371522    control
371523       test
371524       test
371525       test
371526       test
371527    control
Name: abtest, dtype: object

In [20]:
vehicleType = autos_data["vehicleType"]

vehicleType

0                NaN
1              coupe
2                suv
3         kleinwagen
4         kleinwagen
5          limousine
6             cabrio
7          limousine
8                bus
9         kleinwagen
10         limousine
11             kombi
12             kombi
13             kombi
14               suv
15        kleinwagen
16               NaN
17        kleinwagen
18               bus
19               bus
20             coupe
21         limousine
22               NaN
23        kleinwagen
24         limousine
25             kombi
26               NaN
27         limousine
28               bus
29        kleinwagen
             ...
371498     limousine
371499    kleinwagen
371500     limousine
371501           bus
371502         kombi
371503    kleinwagen
371504           NaN
371505         kombi
371506     limousine
371507         kombi
371508     limousine
371509           NaN
371510     limousine
371511     limousine
371512     limousine
371513     limousine
371514        cabrio
371515         kombi
371516    kleinwagen
371517     limousine
371518         kombi
371519           NaN
371520     limousine
371521           bus
371522           NaN
371523           NaN
371524        cabrio
371525           bus
371526         kombi
371527     limousine
Name: vehicleType, dtype: object

In [21]:
yearOfRego = autos_data["yearOfRegistration"]

yearOfRego

0         1993
1         2011
2         2004
3         2001
4         2008
5         1995
6         2004
7         1980
8         2014
9         1998
10        2004
11        2005
12        1995
13        2004
14        2011
15        1910
16        2016
17        2004
18        2007
19        2004
20        2009
21        2002
22        2018
23        1997
24        1990
25        2002
26        2017
27        2008
28        1981
29        2003
          ...
371498    1999
371499    1998
371500    2014
371501    2003
371502    1998
371503    1999
371504    2005
371505    2000
371506    2006
371507    2005
371508    2001
371509    2000
371510    2003
371511    1997
371512    2003
371513    2008
371514    2000
371515    2004
371516    1998
371517    2010
371518    2005
371519    2016
371520    2004
371521    2000
371522    2005
371523    2005
371524    2000
371525    1996
371526    2002
371527    2013
Name: yearOfRegistration, dtype: int64

In [22]:
gearbox = autos_data["gearbox"]

gearbox

0           manuell
1           manuell
2         automatik
3           manuell
4           manuell
5           manuell
6           manuell
7           manuell
8           manuell
9           manuell
10          manuell
11          manuell
12          manuell
13          manuell
14          manuell
15              NaN
16              NaN
17        automatik
18          manuell
19          manuell
20          manuell
21        automatik
22          manuell
23          manuell
24          manuell
25        automatik
26          manuell
27          manuell
28          manuell
29          manuell
            ...
371498      manuell
371499      manuell
371500    automatik
371501    automatik
371502      manuell
371503      manuell
371504    automatik
371505      manuell
371506      manuell
371507      manuell
371508      manuell
371509      manuell
371510    automatik
371511      manuell
371512    automatik
371513      manuell
371514      manuell
371515      manuell
371516      manuell
371517      manuell
371518      manuell
371519    automatik
371520      manuell
371521      manuell
371522      manuell
371523          NaN
371524    automatik
371525      manuell
371526      manuell
371527      manuell
Name: gearbox, dtype: object

In [23]:
powerPS = autos_data["powerPS"]

powerPS

0           0
1         190
2         163
3          75
4          69
5         102
6         109
7          50
8         125
9         101
10        105
11        140
12        115
13        131
14        190
15          0
16         60
17         75
18        136
19        102
20        160
21        231
22         90
23         50
24        118
25        193
26        125
27         99
28         50
29         60
         ...
371498    101
371499     54
371500    150
371501    174
371502    125
371503     68
371504      0
371505    101
371506    105
371507    140
371508    125
371509    110
371510    145
371511    150
371512    260
371513    105
371514     95
371515     55
371516     50
371517    140
371518      3
371519    150
371520    225
371521      0
371522      0
371523      0
371524    101
371525    102
371526    100
371527    320
Name: powerPS, dtype: int64

In [24]:
model = autos_data["model"]

model

0                golf
1                 NaN
2               grand
3                golf
4               fabia
5                 3er
6             2_reihe
7              andere
8               c_max
9                golf
10            3_reihe
11             passat
12             passat
13             passat
14             navara
15                 ka
16               polo
17             twingo
18              c_max
19           a_klasse
20           scirocco
21                5er
22             meriva
23              arosa
24             andere
25                5er
26                 c4
27              civic
28        transporter
29              punto
             ...
371498         vectra
371499          corsa
371500           golf
371501        voyager
371502             a4
371503          justy
371504       c_klasse
371505          astra
371506           golf
371507             a4
371508          astra
371509            NaN
371510       e_klasse
371511             a3
371512       e_klasse
371513           leon
371514         megane
371515          fabia
371516           lupo
371517           golf
371518            3er
371519            159
371520           leon
371521         zafira
371522           colt
371523            NaN
371524         fortwo
371525    transporter
371526           golf
371527        m_reihe
Name: model, dtype: object

In [25]:
km = autos_data["kilometer"]

km

0         150000
1         125000
2         125000
3         150000
4          90000
5         150000
6         150000
7          40000
8          30000
9         150000
10        150000
11        150000
12        150000
13        150000
14         70000
15          5000
16        150000
17        150000
18        150000
19        150000
20        100000
21        150000
22        150000
23        150000
24        150000
25        150000
26        125000
27         60000
28          5000
29        150000
           ...
371498    150000
371499    150000
371500     30000
371501    150000
371502    150000
371503     70000
371504    150000
371505    150000
371506    150000
371507    150000
371508    150000
371509    150000
371510    150000
371511    150000
371512    150000
371513    150000
371514    150000
371515    150000
371516    150000
371517    150000
371518    150000
371519    150000
371520    150000
371521    150000
371522    150000
371523     20000
371524    125000
371525    150000
371526    150000
371527     50000
Name: kilometer, dtype: int64

# Converting Month integer into Month

Before:

In [26]:
monthOfRego = autos_data["monthOfRegistration"]

monthOfRego

0          0
1          5
2          8
3          6
4          7
5         10
6          8
7          7
8          8
9          0
10        12
11        12
12        11
13         2
14         3
15         0
16         0
17         2
18         6
19         1
20         4
21         7
22         5
23         5
24        10
25         9
26         4
27        11
28         1
29         3
          ..
371498     3
371499     1
371500     9
371501     7
371502     2
371503    11
371504     9
371505    11
371506     9
371507     4
371508     2
371509     7
371510     3
371511    12
371512    12
371513     7
371514     4
371515     4
371516     9
371517     7
371518     5
371519    12
371520     5
371521     3
371522     7
371523     1
371524     3
371525     3
371526     6
371527     8
Name: monthOfRegistration, dtype: int64

In [27]:
autos_data['monthOfRegistration'] = autos_data['monthOfRegistration'].apply(lambda x: calendar.month_abbr[x])

Using a variable instead:

In [28]:
monthOfRego = monthOfRego.apply(lambda x: calendar.month_abbr[x])

In [29]:
monthOfRego

0
1         May
2         Aug
3         Jun
4         Jul
5         Oct
6         Aug
7         Jul
8         Aug
9
10        Dec
11        Dec
12        Nov
13        Feb
14        Mar
15
16
17        Feb
18        Jun
19        Jan
20        Apr
21        Jul
22        May
23        May
24        Oct
25        Sep
26        Apr
27        Nov
28        Jan
29        Mar
         ...
371498    Mar
371499    Jan
371500    Sep
371501    Jul
371502    Feb
371503    Nov
371504    Sep
371505    Nov
371506    Sep
371507    Apr
371508    Feb
371509    Jul
371510    Mar
371511    Dec
371512    Dec
371513    Jul
371514    Apr
371515    Apr
371516    Sep
371517    Jul
371518    May
371519    Dec
371520    May
371521    Mar
371522    Jul
371523    Jan
371524    Mar
371525    Mar
371526    Jun
371527    Aug
Name: monthOfRegistration, dtype: object

In [ ]:
# months_map = {1: 'January', 
#               2: 'February', 
#               3: 'March', 
#               4: 'April', 
#               5: 'May', 
#               6: 'June', 
#               7: 'July',
#               8: 'August',
#               9: 'September',
#               10: 'October',
#               11: 'November',
#               12: 'December'
#              }
# def mapper(monthOfRegistration):
#     return months_map[monthOfRegistration]

# autos_data['monthOfRegistration'].apply(mapper)

# Cars with no 'monthsOfRego' needs a variable name

In [30]:
fuelType = autos_data["fuelType"]

fuelType

0         benzin
1         diesel
2         diesel
3         benzin
4         diesel
5         benzin
6         benzin
7         benzin
8         benzin
9            NaN
10        benzin
11        diesel
12        benzin
13           NaN
14        diesel
15        benzin
16        benzin
17        benzin
18        diesel
19        benzin
20        benzin
21        benzin
22        benzin
23        benzin
24        benzin
25        diesel
26           NaN
27        benzin
28        benzin
29        benzin
           ...
371498    benzin
371499    benzin
371500    benzin
371501    benzin
371502    benzin
371503    benzin
371504       NaN
371505    benzin
371506    diesel
371507    diesel
371508    benzin
371509       NaN
371510    diesel
371511    benzin
371512    diesel
371513    diesel
371514    benzin
371515    benzin
371516    benzin
371517    diesel
371518    diesel
371519       NaN
371520    benzin
371521    benzin
371522    benzin
371523       NaN
371524    benzin
371525    diesel
371526    diesel
371527    benzin
Name: fuelType, dtype: object

In [31]:
brand = autos_data["brand"]

brand

0             volkswagen
1                   audi
2                   jeep
3             volkswagen
4                  skoda
5                    bmw
6                peugeot
7             volkswagen
8                   ford
9             volkswagen
10                 mazda
11            volkswagen
12            volkswagen
13            volkswagen
14                nissan
15                  ford
16            volkswagen
17               renault
18                  ford
19         mercedes_benz
20            volkswagen
21                   bmw
22                  opel
23                  seat
24         mercedes_benz
25                   bmw
26               citroen
27                 honda
28            volkswagen
29                  fiat
               ...
371498              opel
371499              opel
371500        volkswagen
371501          chrysler
371502              audi
371503            subaru
371504     mercedes_benz
371505              opel
371506        volkswagen
371507              audi
371508              opel
371509        volkswagen
371510     mercedes_benz
371511              audi
371512     mercedes_benz
371513              seat
371514           renault
371515             skoda
371516        volkswagen
371517        volkswagen
371518               bmw
371519        alfa_romeo
371520              seat
371521              opel
371522        mitsubishi
371523    sonstige_autos
371524             smart
371525        volkswagen
371526        volkswagen
371527               bmw
Name: brand, dtype: object

In [32]:
damaged = autos_data["notRepairedDamage"]

damaged

0          NaN
1           ja
2          NaN
3         nein
4         nein
5           ja
6         nein
7         nein
8          NaN
9          NaN
10        nein
11          ja
12         NaN
13        nein
14        nein
15         NaN
16         NaN
17        nein
18        nein
19        nein
20        nein
21        nein
22        nein
23        nein
24          ja
25          ja
26        nein
27        nein
28        nein
29        nein
          ...
371498     NaN
371499    nein
371500    nein
371501    nein
371502    nein
371503    nein
371504     NaN
371505      ja
371506    nein
371507     NaN
371508    nein
371509    nein
371510    nein
371511    nein
371512      ja
371513    nein
371514     NaN
371515     NaN
371516    nein
371517    nein
371518    nein
371519    nein
371520      ja
371521    nein
371522      ja
371523     NaN
371524    nein
371525    nein
371526     NaN
371527    nein
Name: notRepairedDamage, dtype: object

In [33]:
dateCreated = autos_data['dateCreated']

dateCreated

0         2016-03-24 00:00:00
1         2016-03-24 00:00:00
2         2016-03-14 00:00:00
3         2016-03-17 00:00:00
4         2016-03-31 00:00:00
5         2016-04-04 00:00:00
6         2016-04-01 00:00:00
7         2016-03-21 00:00:00
8         2016-04-04 00:00:00
9         2016-03-17 00:00:00
10        2016-03-26 00:00:00
11        2016-04-07 00:00:00
12        2016-03-15 00:00:00
13        2016-03-21 00:00:00
14        2016-03-21 00:00:00
15        2016-03-11 00:00:00
16        2016-04-01 00:00:00
17        2016-03-20 00:00:00
18        2016-03-23 00:00:00
19        2016-04-01 00:00:00
20        2016-04-01 00:00:00
21        2016-03-27 00:00:00
22        2016-03-23 00:00:00
23        2016-03-12 00:00:00
24        2016-03-13 00:00:00
25        2016-03-18 00:00:00
26        2016-03-10 00:00:00
27        2016-03-07 00:00:00
28        2016-03-09 00:00:00
29        2016-03-08 00:00:00
                 ...
371498    2016-03-11 00:00:00
371499    2016-03-08 00:00:00
371500    2016-03-21 00:00:00
371501    2016-03-26 00:00:00
371502    2016-04-01 00:00:00
371503    2016-03-31 00:00:00
371504    2016-03-07 00:00:00
371505    2016-04-03 00:00:00
371506    2016-03-20 00:00:00
371507    2016-03-16 00:00:00
371508    2016-04-02 00:00:00
371509    2016-03-11 00:00:00
371510    2016-03-05 00:00:00
371511    2016-03-31 00:00:00
371512    2016-03-25 00:00:00
371513    2016-03-21 00:00:00
371514    2016-04-04 00:00:00
371515    2016-03-09 00:00:00
371516    2016-04-04 00:00:00
371517    2016-03-28 00:00:00
371518    2016-04-02 00:00:00
371519    2016-03-09 00:00:00
371520    2016-03-19 00:00:00
371521    2016-03-27 00:00:00
371522    2016-03-21 00:00:00
371523    2016-03-14 00:00:00
371524    2016-03-05 00:00:00
371525    2016-03-19 00:00:00
371526    2016-03-20 00:00:00
371527    2016-03-07 00:00:00
Name: dateCreated, dtype: object

In [34]:
pictures = autos_data['nrOfPictures']

pictures

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
371498    0
371499    0
371500    0
371501    0
371502    0
371503    0
371504    0
371505    0
371506    0
371507    0
371508    0
371509    0
371510    0
371511    0
371512    0
371513    0
371514    0
371515    0
371516    0
371517    0
371518    0
371519    0
371520    0
371521    0
371522    0
371523    0
371524    0
371525    0
371526    0
371527    0
Name: nrOfPictures, dtype: int64

In [35]:
postCode = autos_data['postalCode']

postCode

0         70435
1         66954
2         90480
3         91074
4         60437
5         33775
6         67112
7         19348
8         94505
9         27472
10        96224
11        57290
12        37269
13        90762
14         4177
15        24148
16        38871
17        65599
18        88361
19        49565
20        75365
21        68309
22        49716
23         9526
24        35390
25        73765
26        31139
27        12621
28        87471
29        86199
          ...
371498    65936
371499    24850
371500    38470
371501    34320
371502    34414
371503    90439
371504    61169
371505    58730
371506     1217
371507    56472
371508    23820
371509    87700
371510    60437
371511     4275
371512    90473
371513    45896
371514    88477
371515    18246
371516    48653
371517    75223
371518    81825
371519    51371
371520    96465
371521    26624
371522     2694
371523    39576
371524    26135
371525    87439
371526    40764
371527    73326
Name: postalCode, dtype: int64

In [36]:
lastSeen = autos_data['lastSeen']

lastSeen

0         2016-04-07 03:16:57
1         2016-04-07 01:46:50
2         2016-04-05 12:47:46
3         2016-03-17 17:40:17
4         2016-04-06 10:17:21
5         2016-04-06 19:17:07
6         2016-04-05 18:18:39
7         2016-03-25 16:47:58
8         2016-04-04 23:42:13
9         2016-03-31 17:17:06
10        2016-04-06 10:45:34
11        2016-04-07 10:25:17
12        2016-04-01 13:16:16
13        2016-03-23 02:50:54
14        2016-04-06 07:45:42
15        2016-03-19 08:46:47
16        2016-04-01 12:46:46
17        2016-04-06 13:16:07
18        2016-04-05 18:45:11
19        2016-04-05 22:46:05
20        2016-04-05 16:45:49
21        2016-04-07 06:44:26
22        2016-03-31 01:16:33
23        2016-03-21 01:46:11
24        2016-03-13 20:40:49
25        2016-03-18 21:44:09
26        2016-03-16 09:16:46
27        2016-03-26 09:44:53
28        2016-03-10 07:44:33
29        2016-03-09 11:45:28
                 ...
371498    2016-03-17 12:44:29
371499    2016-03-13 00:16:40
371500    2016-04-07 04:17:32
371501    2016-04-06 09:16:04
371502    2016-04-07 09:44:29
371503    2016-04-07 04:16:26
371504    2016-03-08 21:28:38
371505    2016-04-05 20:45:39
371506    2016-04-07 02:44:27
371507    2016-03-18 11:30:17
371508    2016-04-06 15:18:04
371509    2016-03-12 14:16:51
371510    2016-03-12 12:18:05
371511    2016-04-06 12:46:41
371512    2016-04-07 00:44:51
371513    2016-04-06 15:45:01
371514    2016-04-06 12:44:52
371515    2016-04-04 08:15:30
371516    2016-04-06 11:17:13
371517    2016-04-02 18:16:20
371518    2016-04-06 20:47:12
371519    2016-03-13 01:44:13
371520    2016-03-19 20:44:43
371521    2016-03-29 10:17:23
371522    2016-03-21 10:42:49
371523    2016-04-06 00:46:52
371524    2016-03-11 18:17:12
371525    2016-04-07 07:15:26
371526    2016-03-24 12:45:21
371527    2016-03-22 03:17:10
Name: lastSeen, dtype: object

# Counting Objects in Each Series

In [65]:
dateCrawledCount = dateCrawled.value_counts()

dateCrawledCount

2016-03-24 14:49:47    7
2016-03-19 21:49:56    6
2016-03-26 22:57:31    6
2016-04-01 15:56:46    5
2016-03-22 15:50:32    5
2016-03-22 10:42:10    5
2016-03-07 17:36:19    5
2016-03-14 16:51:53    5
2016-03-28 10:36:47    5
2016-04-04 22:38:11    5
2016-03-31 17:57:07    5
2016-04-03 16:49:06    5
2016-03-09 13:50:56    5
2016-04-03 13:41:21    5
2016-03-16 13:47:44    5
2016-03-05 14:44:30    5
2016-03-16 17:43:49    5
2016-04-02 22:54:55    5
2016-03-21 14:50:20    5
2016-03-19 12:50:39    5
2016-04-01 16:52:05    5
2016-03-23 13:50:19    5
2016-03-20 16:50:22    5
2016-03-05 14:25:23    5
2016-03-22 14:50:05    5
2016-03-27 12:50:22    5
2016-04-01 19:25:23    5
2016-04-02 14:50:21    5
2016-03-09 16:48:39    5
2016-03-26 10:51:07    5
                      ..
2016-03-22 20:55:43    1
2016-03-26 12:44:50    1
2016-03-14 19:43:04    1
2016-03-16 09:47:05    1
2016-03-07 19:57:37    1
2016-03-17 23:39:21    1
2016-03-10 19:53:12    1
2016-03-09 17:48:21    1
2016-03-10 19:53:13    1
2016-03-09 17:45:26    1
2016-03-09 17:45:27    1
2016-03-09 17:45:25    1
2016-03-11 16:36:16    1
2016-03-24 13:37:38    1
2016-03-07 19:57:39    1
2016-03-31 01:37:04    1
2016-04-04 18:56:42    1
2016-03-20 14:40:49    1
2016-03-09 17:45:28    1
2016-03-09 17:45:29    1
2016-03-19 09:51:02    1
2016-03-19 09:51:07    1
2016-03-18 12:41:44    1
2016-03-05 18:48:18    1
2016-03-09 21:55:09    1
2016-03-25 08:56:07    1
2016-03-25 08:56:02    1
2016-03-14 19:43:08    1
2016-03-14 19:43:09    1
2016-03-28 15:57:15    1
Name: dateCrawled, dtype: int64

In [66]:
nameCount = name.value_counts()

nameCount

Ford_Fiesta                                                           657
BMW_318i                                                              627
Opel_Corsa                                                            622
Volkswagen_Golf_1.4                                                   603
BMW_316i                                                              523
BMW_320i                                                              492
Volkswagen_Polo                                                       475
Renault_Twingo                                                        447
Volkswagen_Golf                                                       428
Volkswagen_Golf_1.6                                                   413
Volkswagen_Polo_1.2                                                   412
BMW_116i                                                              394
Opel_Corsa_1.2_16V                                                    373
Opel_Corsa_B                                                          369
Opel_Astra                                                            366
Peugeot_206                                                           365
Ford_Focus                                                            361
Opel_Corsa_1.0_12V                                                    344
Renault_Twingo_1.2                                                    322
Volkswagen_Passat_Variant_1.9_TDI                                     274
Volkswagen_Golf_1.9_TDI                                               273
Opel_Astra_1.6                                                        260
Audi_A4_Avant_2.0_TDI_DPF                                             254
MINI_Mini_Cooper                                                      245
Ford_Ka                                                               242
Fiat_Punto                                                            242
Audi_A4_Avant_1.9_TDI                                                 241
Audi_A4_1.6                                                           238
MINI_Mini_One                                                         233
BMW_520i                                                              226
                                                                     ...
Golf_2_Oldtimer_tuning_GTI_Kamei_VR6                                    1
Volkswagen_Lupo_1.0_T�V_07/17                                           1
Fuer_Bastler_oder_zum_aufbereiten_und_selbst_fahren                     1
Andere_DKW__F_102                                                       1
VW__Sharan                                                              1
Porsche_997_Carrera_S_gelb                                              1
Honda_civic_zum_ausschlachten                                           1
Dacia___Duster                                                          1
Audi_A4_1.9_TDI_AHK___KLIMA___SITZHEIZUNG___LEDER                       1
Volkswagen_Caddy_Maxi_EcoFuel_7_Sitzer_Comf._Team_Edition               1
BMW_328i_touring_Schaltgetriebe_mit_LPG_Prins                           1
Volkswagen_Golf_1.4_Trendline_2._Hand_Scheckheftgepflegt                1
Seat_Leon__Baujahr_2/2013__77kw__Nicht_fahrbereit                       1
Mercedes_Benz_E_350_CDI_DPF_C_BlueEFFICIENCY_7G_TRONIC                  1
Toyota_RAV_4_2.2_D_4D_4x4_Automatik_Schiebedac                          1
vw_Touran_1_6_fsi                                                       1
Mercedes_Benz_SLK_320__Automatik__Leder__Super_Zustand                  1
BMW_316_i.__Export                                                      1
BMW_E36_GTR_Breitbau__M5_Motor_eingetragen_im_Brief                     1
Porsche_996_org._ATM_25_tsd._Km                                         1
Mercedes_Benz_W201_2.0D_190er_Original_Zustand_5Gang_ABS_Selten         1
BMW_520i__Scheckheft__8_fach_bereift__TOP_Zustand!_Tausch_moeglich      1
Mazda_3_center_line_120_ps                                              1
Vectra_Caravan                                                          1
Audi_TT_Coupe_1.8_T_quattro_20V                                         1
Polo_6n_rostfrei_T�V_BIS_07/17                                          1
VW_Cross_Polo_1.2_TSI_nur_29700km                                       1
Mitsubishi__Colt_/_/_sehr_guter_Zustand                                 1
Volkswagen_Golf_1.8_Rolling_Stones_Klima                                1
Seat_Inca__1_9_l___DIESEL                                               1
Name: name, dtype: int64

In [67]:
sellerCount = seller.value_counts()

sellerCount

privat        371524
gewerblich         3
Name: seller, dtype: int64

In [68]:
offerTypeCount = offerType.value_counts()

offerTypeCount

Angebot    371515
Gesuch         12
Name: offerType, dtype: int64

In [69]:
priceCount = price.value_counts()

priceCount

0          10778
500         5670
1500        5394
1000        4649
1200        4594
2500        4438
600         3819
3500        3792
800         3784
2000        3432
999         3364
750         3203
650         3150
4500        3053
850         2946
2200        2936
700         2936
1800        2886
900         2874
950         2793
1100        2772
1300        2757
300         2731
3000        2720
550         2591
1600        2570
5500        2543
350         2514
400         2442
1250        2441
           ...
2125           1
22599          1
4782           1
8008           1
20290          1
50100          1
3245           1
58800          1
2795000        1
75400          1
137999         1
19269          1
5544           1
13485          1
3755           1
14666          1
28995          1
4175           1
10670          1
77             1
8265           1
145900         1
2730           1
12973          1
42840          1
30530          1
23456          1
171000         1
21830          1
8188           1
Name: price, dtype: int64

In [70]:
abtestCount = abtest.value_counts()

abtestCount

test       192584
control    178943
Name: abtest, dtype: int64

In [71]:
vehicleTypeCount = vehicleType.value_counts()

vehicleTypeCount

limousine     95894
kleinwagen    80023
kombi         67564
bus           30201
cabrio        22898
coupe         19015
suv           14707
andere         3356
Name: vehicleType, dtype: int64

In [72]:
yearOfRegoCount = yearOfRego.value_counts()

yearOfRegoCount

2000    24551
1999    22767
2005    22316
2006    20230
2001    20218
2003    19873
2004    19746
2002    19189
1998    17951
2007    17673
2008    16175
2009    15607
1997    14706
2010    12354
2011    12068
1996    10885
2017    10546
2016     9859
1995     9658
2012     9418
2013     6157
1994     4872
2014     4802
2018     3993
1993     3469
1992     3048
2015     2982
1990     2852
1991     2810
1989     1342
        ...
5900        1
2066        1
6500        1
9229        1
8500        1
8200        1
2290        1
3700        1
1200        1
9450        1
1001        1
1255        1
1253        1
5600        1
3800        1
4800        1
7100        1
5300        1
3500        1
1911        1
2200        1
1688        1
1925        1
3200        1
1920        1
1919        1
1915        1
7800        1
1400        1
8455        1
Name: yearOfRegistration, dtype: int64

In [74]:
gearboxCount = gearbox.value_counts()

gearboxCount

manuell      274213
automatik     77105
Name: gearbox, dtype: int64

In [75]:
powerPSCount = powerPS.value_counts()

powerPSCount

0        40820
75       24035
60       15907
150      15442
140      13585
101      13313
90       12748
116      11963
170      10982
105      10429
125       7051
136       6952
102       6500
163       6287
54        5752
143       5547
122       5322
131       5179
110       4862
109       4817
50        4661
80        4050
120       3914
177       3886
58        3855
69        3655
115       3332
95        3023
45        2991
68        2828
         ...
1367         1
15017        1
685          1
7515         1
6062         1
1625         1
1707         1
1105         1
6226         1
584          1
332          1
8011         1
15033        1
3144         1
442          1
953          1
3000         1
331          1
587          1
1100         1
5809         1
952          1
696          1
589          1
1102         1
1870         1
5815         1
16051        1
1360         1
1398         1
Name: powerPS, dtype: int64

PowerPS will need some cleaning up

In [76]:
modelCount = model.value_counts()

modelCount

golf                  30070
andere                26400
3er                   20567
polo                  13092
corsa                 12573
astra                 10830
passat                10306
a4                    10257
c_klasse               8775
5er                    8546
e_klasse               7561
a3                     6604
a6                     6023
focus                  5950
fiesta                 5775
transporter            5528
twingo                 4953
2_reihe                4816
fortwo                 4338
a_klasse               4316
vectra                 4255
1er                    3837
mondeo                 3626
clio                   3553
touran                 3540
3_reihe                3503
punto                  3349
zafira                 3049
megane                 2927
ibiza                  2702
                      ...
mii                      81
crossfire                66
range_rover_evoque       65
gl                       64
nubira                   62
move                     60
lybra                    54
145                      50
v60                      48
croma                    45
amarok                   42
delta                    40
terios                   35
lodgy                    35
9000                     31
charade                  27
b_max                    26
musa                     25
materia                  18
200                      18
kappa                    15
samara                   13
elefantino               11
i3                       10
kalina                    9
serie_2                   8
rangerover                6
serie_3                   4
serie_1                   2
discovery_sport           1
Name: model, dtype: int64

In [77]:
kmCount = km.value_counts()

kmCount

150000    240796
125000     38067
100000     15920
90000      12523
80000      11053
70000       9773
60000       8669
50000       7615
5000        7069
40000       6376
30000       6041
20000       5676
10000       1949
Name: kilometer, dtype: int64

In [78]:
monthOfRegoCount = monthOfRego.value_counts()

monthOfRegoCount

       37675
Mar    36170
Jun    33167
Apr    30918
May    30631
Jul    28958
Oct    27337
Nov    25489
Dec    25380
Sep    25074
Jan    24560
Aug    23765
Feb    22403
Name: monthOfRegistration, dtype: int64

monthOfRego seems to have an extra column, Cars with no monthOfRego will be assigned to a new variable.

In [79]:
fuelTypeCount = fuelType.value_counts()

fuelTypeCount

benzin     223857
diesel     107746
lpg          5378
cng           571
hybrid        278
andere        207
elektro       104
Name: fuelType, dtype: int64

In [80]:
brandCount = brand.value_counts()

brandCount

volkswagen        79640
bmw               40274
opel              40136
mercedes_benz     35309
audi              32873
ford              25573
renault           17969
peugeot           11027
fiat               9676
seat               7022
mazda              5695
skoda              5641
smart              5249
citroen            5182
nissan             5037
toyota             4694
sonstige_autos     3981
hyundai            3646
mini               3394
volvo              3327
mitsubishi         3061
honda              2836
kia                2555
alfa_romeo         2345
suzuki             2328
porsche            2215
chevrolet          1845
chrysler           1452
dacia               900
jeep                807
daihatsu            806
subaru              779
land_rover          770
jaguar              621
trabant             591
daewoo              542
saab                530
rover               490
lancia              484
lada                225
Name: brand, dtype: int64

In [81]:
damagedCount = damaged.value_counts()

damagedCount

nein    263182
ja       36285
Name: notRepairedDamage, dtype: int64

In [82]:
dateCreatedCount = dateCreated.value_counts()

dateCreatedCount

2016-04-03 00:00:00    14450
2016-04-04 00:00:00    14022
2016-03-20 00:00:00    13547
2016-03-12 00:00:00    13379
2016-03-21 00:00:00    13305
2016-03-14 00:00:00    13088
2016-03-28 00:00:00    13069
2016-04-02 00:00:00    12991
2016-03-07 00:00:00    12821
2016-03-19 00:00:00    12752
2016-03-09 00:00:00    12723
2016-03-29 00:00:00    12714
2016-04-01 00:00:00    12623
2016-03-30 00:00:00    12402
2016-03-15 00:00:00    12399
2016-03-08 00:00:00    12396
2016-03-25 00:00:00    12264
2016-03-11 00:00:00    12180
2016-03-10 00:00:00    12050
2016-03-22 00:00:00    11958
2016-03-26 00:00:00    11920
2016-03-31 00:00:00    11872
2016-03-23 00:00:00    11856
2016-03-17 00:00:00    11610
2016-03-16 00:00:00    11285
2016-03-27 00:00:00    11161
2016-03-24 00:00:00    11132
2016-03-05 00:00:00     8528
2016-03-13 00:00:00     6318
2016-03-06 00:00:00     5752
                       ...
2016-02-04 00:00:00        2
2015-09-04 00:00:00        2
2016-01-20 00:00:00        2
2016-01-22 00:00:00        2
2016-01-16 00:00:00        2
2015-11-24 00:00:00        2
2016-01-18 00:00:00        2
2014-03-10 00:00:00        1
2015-12-17 00:00:00        1
2015-10-14 00:00:00        1
2015-11-17 00:00:00        1
2015-11-08 00:00:00        1
2015-12-28 00:00:00        1
2015-06-18 00:00:00        1
2015-08-10 00:00:00        1
2016-01-03 00:00:00        1
2015-06-11 00:00:00        1
2016-01-08 00:00:00        1
2016-01-14 00:00:00        1
2016-01-15 00:00:00        1
2015-11-02 00:00:00        1
2015-09-09 00:00:00        1
2015-03-20 00:00:00        1
2015-11-13 00:00:00        1
2015-11-10 00:00:00        1
2015-12-06 00:00:00        1
2015-11-12 00:00:00        1
2015-12-27 00:00:00        1
2015-08-07 00:00:00        1
2016-01-06 00:00:00        1
Name: dateCreated, dtype: int64

In [83]:
picturesCount = pictures.value_counts()

picturesCount

0    371527
Name: nrOfPictures, dtype: int64

Seems to be a bug, non of the listings have pictures

In [84]:
postCodeCount = postCode.value_counts()

postCodeCount

10115    828
65428    637
66333    349
38518    326
44145    323
32257    323
52525    314
78224    309
26789    301
48599    294
13357    293
53757    284
50354    283
40764    282
48249    282
60311    281
51065    278
52249    277
60386    275
61169    269
92637    266
26871    265
66424    265
56070    262
45881    262
65719    261
13409    257
87700    257
59192    254
44339    254
        ...
55499      1
67311      1
21784      1
38325      1
63874      1
21360      1
95356      1
26906      1
29361      1
17154      1
79685      1
91471      1
88376      1
77787      1
95694      1
27254      1
60306      1
7619       1
29587      1
91465      1
25946      1
4685       1
98749      1
74937      1
24638      1
97859      1
29484      1
85071      1
17329      1
37297      1
Name: postalCode, dtype: int64

In [85]:
lastSeenCount = lastSeen.value_counts()

lastSeenCount

2016-04-07 06:45:59    17
2016-04-06 13:45:54    17
2016-04-07 00:46:04    16
2016-04-07 07:44:31    16
2016-04-06 01:16:21    16
2016-04-06 10:15:26    16
2016-04-07 07:46:26    16
2016-04-07 10:46:23    16
2016-04-06 09:17:58    16
2016-04-06 09:44:33    16
2016-04-06 12:15:45    16
2016-04-06 01:15:23    16
2016-04-07 06:44:26    16
2016-04-06 04:17:20    16
2016-04-07 09:44:27    16
2016-04-06 10:18:03    16
2016-04-07 08:16:54    16
2016-04-06 05:45:43    16
2016-04-07 08:15:52    16
2016-04-07 13:17:48    16
2016-04-06 02:45:52    16
2016-04-06 17:46:58    16
2016-04-07 00:45:17    16
2016-04-06 04:15:59    16
2016-04-06 07:45:46    16
2016-04-07 06:45:32    16
2016-04-07 08:45:09    16
2016-04-06 13:15:54    16
2016-04-06 08:46:30    16
2016-04-06 03:15:56    16
                       ..
2016-03-28 12:49:55     1
2016-04-02 00:16:41     1
2016-03-23 13:40:20     1
2016-03-13 04:16:45     1
2016-03-23 18:19:31     1
2016-03-21 11:18:30     1
2016-03-11 01:46:15     1
2016-04-01 08:52:06     1
2016-03-14 18:36:22     1
2016-03-17 20:51:00     1
2016-03-17 20:51:01     1
2016-03-13 04:17:55     1
2016-03-26 03:45:18     1
2016-04-04 06:50:28     1
2016-04-03 13:47:53     1
2016-03-15 20:22:54     1
2016-04-03 10:47:31     1
2016-04-03 13:47:56     1
2016-03-22 06:15:58     1
2016-04-03 13:47:50     1
2016-04-03 10:47:37     1
2016-03-22 06:15:53     1
2016-03-09 14:47:35     1
2016-03-22 06:15:52     1
2016-03-21 11:17:36     1
2016-03-30 08:16:42     1
2016-03-22 06:15:56     1
2016-03-22 06:15:54     1
2016-03-09 14:47:34     1
2016-04-03 16:17:29     1
Name: lastSeen, dtype: int64

LastSeen could indicate the date/time of the car sold.

# The variables ‘name’, ‘seller’, ‘offerType’, ‘abtest’ and ‘nrOfPictures’ are not meaningful data, and will be removed.

In [59]:
autos_data.drop('name', axis=1, inplace=True)
autos_data.drop('seller', axis=1, inplace=True)
autos_data.drop('offerType', axis=1, inplace=True)
autos_data.drop('abtest', axis=1, inplace=True)
autos_data.drop('nrOfPictures', axis=1, inplace=True)

ValueError: labels ['name'] not contained in axis

In [60]:
autos_data.columns

Index([u'dateCrawled', u'price', u'vehicleType', u'yearOfRegistration',
       u'gearbox', u'powerPS', u'model', u'kilometer', u'monthOfRegistration',
       u'fuelType', u'brand', u'notRepairedDamage', u'dateCreated',
       u'nrOfPictures', u'postalCode', u'lastSeen'],
      dtype='object')

In [61]:
autos_data.drop('nrOfPictures', axis=1, inplace=True)

In [62]:
autos_data.columns

Index([u'dateCrawled', u'price', u'vehicleType', u'yearOfRegistration',
       u'gearbox', u'powerPS', u'model', u'kilometer', u'monthOfRegistration',
       u'fuelType', u'brand', u'notRepairedDamage', u'dateCreated',
       u'postalCode', u'lastSeen'],
      dtype='object')

In [64]:
columns = autos_data.columns

columns

Index([u'dateCrawled', u'price', u'vehicleType', u'yearOfRegistration',
       u'gearbox', u'powerPS', u'model', u'kilometer', u'monthOfRegistration',
       u'fuelType', u'brand', u'notRepairedDamage', u'dateCreated',
       u'postalCode', u'lastSeen'],
      dtype='object')

In [86]:
ad = autos_data

ad

,dateCrawled,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,2016-03-24 11:52:17,480,NaN,1993,manuell,0,golf,150000,,benzin,volkswagen,NaN,2016-03-24 00:00:00,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manuell,190,NaN,125000,May,diesel,audi,ja,2016-03-24 00:00:00,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,automatik,163,grand,125000,Aug,diesel,jeep,NaN,2016-03-14 00:00:00,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,kleinwagen,2001,manuell,75,golf,150000,Jun,benzin,volkswagen,nein,2016-03-17 00:00:00,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,kleinwagen,2008,manuell,69,fabia,90000,Jul,diesel,skoda,nein,2016-03-31 00:00:00,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,650,limousine,1995,manuell,102,3er,150000,Oct,benzin,bmw,ja,2016-04-04 00:00:00,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,2200,cabrio,2004,manuell,109,2_reihe,150000,Aug,benzin,peugeot,nein,2016-04-01 00:00:00,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,0,limousine,1980,manuell,50,andere,40000,Jul,benzin,volkswagen,nein,2016-03-21 00:00:00,19348,2016-03-25 16:47:58
8,2016-04-04 23:42:13,14500,bus,2014,manuell,125,c_max,30000,Aug,benzin,ford,NaN,2016-04-04 00:00:00,94505,2016-04-04 23:42:13
9,2016-03-17 10:53:50,999,kleinwagen,1998,manuell,101,golf,150000,,NaN,volkswagen,NaN,2016-03-17 00:00:00,27472,2016-03-31 17:17:06
10,2016-03-26 19:54:18,2000,limousine,2004,manuell,105,3_reihe,150000,Dec,benzin,mazda,nein,2016-03-26 00:00:00,96224,2016-04-06 10:45:34
11,2016-04-07 10:06:22,2799,kombi,2005,manuell,140,passat,150000,Dec,diesel,volkswagen,ja,2016-04-07 00:00:00,57290,2016-04-07 10:25:17
12,2016-03-15 22:49:09,999,kombi,1995,manuell,115,passat,150000,Nov,benzin,volkswagen,NaN,2016-03-15 00:00:00,37269,2016-04-01 13:16:16
13,2016-03-21 21:37:40,2500,kombi,2004,manuell,131,passat,150000,Feb,NaN,volkswagen,nein,2016-03-21 00:00:00,90762,2016-03-23 02:50:54
14,2016-03-21 12:57:01,17999,suv,2011,manuell,190,navara,70000,Mar,diesel,nissan,nein,2016-03-21 00:00:00,4177,2016-04-06 07:45:42
15,2016-03-11 21:39:15,450,kleinwagen,1910,NaN,0,ka,5000,,benzin,ford,NaN,2016-03-11 00:00:00,24148,2016-03-19 08:46:47
16,2016-04-01 12:46:46,300,NaN,2016,NaN,60,polo,150000,,benzin,volkswagen,NaN,2016-04-01 00:00:00,38871,2016-04-01 12:46:46
17,2016-03-20 10:25:19,1750,kleinwagen,2004,automatik,75,twingo,150000,Feb,benzin,renault,nein,2016-03-20 00:00:00,65599,2016-04-06 13:16:07
18,2016-03-23 15:48:05,7550,bus,2007,manuell,136,c_max,150000,Jun,diesel,ford,nein,2016-03-23 00:00:00,88361,2016-04-05 18:45:11
19,2016-04-01 22:55:47,1850,bus,2004,manuell,102,a_klasse,150000,Jan,benzin,mercedes_benz,nein,2016-04-01 00:00:00,49565,2016-04-05 22:46:05
20,2016-04-01 19:56:48,10400,coupe,2009,manuell,160,scirocco,100000,Apr,benzin,volkswagen,nein,2016-04-01 00:00:00,75365,2016-04-05 16:45:49
21,2016-03-27 11:38:00,3699,limousine,2002,automatik,231,5er,150000,Jul,benzin,bmw,nein,2016-03-27 00:00:00,68309,2016-04-07 06:44:26
22,2016-03-23 14:52:51,2900,NaN,2018,manuell,90,meriva,150000,May,benzin,opel,nein,2016-03-23 00:00:00,49716,2016-03-31 01:16:33
23,2016-03-12 19:43:07,450,kleinwagen,1997,manuell,50,arosa,150000,May,benzin,seat,nein,2016-03-12 00:00:00,9526,2016-03-21 01:46:11
24,2016-03-13 20:40:49,500,limousine,1990,manuell,118,andere,150000,Oct,benzin,mercedes_benz,ja,2016-03-13 00:00:00,35390,2016-03-13 20:40:49
25,2016-03-18 21:44:09,2500,kombi,2002,automatik,193,5er,150000,Sep,diesel,bmw,ja,2016-03-18 00:00:00,73765,2016-03-18 21:44:09
26,2016-03-10 19:38:18,5555,NaN,2017,manuell,125,c4,125000,Apr,NaN,citroen,nein,2016-03-10 00:00:00,31139,2016-03-16 09:16:46
27,2016-03-07 12:51:23,6900,limousine,2008,manuell,99,civic,60000,Nov,benzin,honda,nein,2016-03-07 00:00:00,12621,2016-03-26 09:44:53
28,2016-03-09 11:56:38,1990,bus,1981,manuell,50,transporter,5000,Jan,benzin,volkswagen,nein,2016-03-09 00:00:00,87471,2016-03-10 07:44:33
29,2016-03-08 19:55:19,690,kleinwagen,2003,manuell,60,punto,150000,Mar,benzin,fiat,nein,2016-03-08 00:00:00,86199,2016-03-09 11:45:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371498,2016-03-11 15:50:38,699,limousine,1999,manuell,101,vectra,150000,Mar,benzin,opel,NaN,2016-03-11 00:00:00,65936,2016-03-17 12:44:29
371499,2016-03-08 13:52:00,600,kleinwagen,1998,manuell,54,corsa,150000,Jan,benzin,opel,nein,2016-03-08 00:00:00,24850,2016-03-13 00:16:40
371500,2016-03-21 23:40:49,20400,limousine,2014,automatik,150,golf,30000,Sep,benzin,volkswagen,nein,2016-03-21 00:00:00,38470,2016-04-07 04:17:32
371501,2016-03-26 18:36:54,3900,bus,2003,automatik,174,voyager,150000,Jul,benzin,chrysler,nein,2016-03-26 00:00:00,34320,2016-04-06 09:16:04
371502,2016-04-01 12:59:21,1600,kombi,1998,manuell,125,a4,150000,Feb,benzin,audi,nein,2016-04-01 00:00:00,34414,2016-04-07 09:44:29
371503,2016-04-01 01:55:58,1700,kleinwagen,1999,manuell,68,justy,70000,Nov,benzin,subaru,nein,2016-03-31 00:00:00,90439,2016-04-07 04:16:26
371504,2016-03-07 17:06:35,2600,NaN,2005,automatik,0,c_klasse,150000,Sep,NaN,mercedes_benz,NaN,2016-03-07 00:00:00,61169,2016-03-08 21:28:38
371505,2016-04-03 19:56:57,800,kombi,2000,manuell,101,astra,150000,Nov,benzin,opel,ja,2016-04-03 00:00:00,58730,2016-04-05 20:45:39
371506,2016-03-20 18:47:59,5900,limousine,2006,manuell,105,golf,150000,Sep,diesel,volkswagen,nein,2016-03-20 00:00:00,1217,2016-04-07 02:44:27
371507,2016-03-16 17:06:19,5999,kombi,2005,manuell,140,a4,150000,Apr,diesel,audi,NaN,2016-03-16 00:00:00,56472,2016-03-18 11:30:17
371508,2016-04-02 16:43:27,1400,limousine,2001,manuell,125,astra,150000,Feb,benzin,opel,nein,2016-04-02 00:00:00,23820,2016-04-06 15:18:04
371509,2016-03-11 23:40:32,1900,NaN,2000,manuell,110,NaN,150000,Jul,NaN,volkswagen,nein,2016-03-11 00:00:00,87700,2016-03-12 14:16:51
371510,2016-03-06 21:11:23,6500,limousine,2003,automatik,145,e_klasse,150000,Mar,diesel,mercedes_benz,nein,2016-03-05 00:00:00,60437,2016-03-12 12:18:05
371511,2016-03-31 18:50:37,1999,limousine,1997,manuell,150,a3,150000,Dec,benzin,audi,nein,2016-03-31 00:00:00,4275,2016-04-06 12:46:41
371512,2016-03-25 18:48:06,5000,limousine,2003,automatik,260,e_klasse,150000,Dec,diesel,mercedes_benz,ja,2016-03-25 00:00:00,90473,2016-04-07 00:44:51
371513,2016-03-21 15:36:22,4400,limousine,2008,manuell,105,leon,150000,Jul,diesel,seat,nein,2016-03-21 00:00:00,45896,2016-04-06 15:45:01
371514,2016-04-04 11:45:16,999,cabrio,2000,manuell,95,megane,150000,Apr,benzin,renault,NaN,2016-04-04 00:00:00,88477,2016-04-06 12:44:52
371515,2016-03-09 11:36:55,1690,kombi,2004,manuell,55,fabia,150000,Apr,benzin,skoda,NaN,2016-03-09 00:00:00,18246,2016-04-04 08:15:30
371516,2016-04-04 09:57:12,1490,kleinwagen,1998,manuell,50,lupo,150000,Sep,benzin,volkswagen,nein,2016-04-04 00:00:00,48653,2016-04-06 11:17:13
371517,2016-03-28 13:48:07,7900,limousine,2010,manuell,140,golf,150000,Jul,diesel,volkswagen,nein,2016-03-28 00:00:00,75223,2016-04-02 18:16:20
371518,2016-04-02 20:37:03,3999,kombi,2005,manuell,3,3er,150000,May,diesel,bmw,nein,2016-04-02 00:00:00,81825,2016-04-06 20:47:12
371519,2016-03-09 13:37:43,5250,NaN,2016,automatik,150,159,150000,Dec,NaN,alfa_romeo,nein,2016-03-09 00:00:00,51371,2016-03-13 01:44:13
371520,2016-03-19 19:53:49,3200,limousine,2004,manuell,225,leon,150000,May,benzin,seat,ja,2016-03-19 00:00:00,96465,2016-03-19 20:44:43
371521,2016-03-27 20:36:20,1150,bus,2000,manuell,0,zafira,150000,Mar,benzin,opel,nein,2016-03-27 00:00:00,26624,2016-03-29 10:17:23
371522,2016-03-21 09:50:58,0,NaN,2005,manuell,0,colt,150000,Jul,benzin,mitsubishi,ja,2016-03-21 00:00:00,2694,2016-03-21 10:42:49
371523,2016-03-14 17:48:27,2200,NaN,2005,NaN,0,NaN,20000,Jan,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,1199,cabrio,2000,automatik,101,fortwo,125000,Mar,benzin,smart,nein,2016-03-05 00:00:00,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,9200,bus,1996,manuell,102,transporter,150000,Mar,diesel,volkswagen,nein,2016-03-19 00:00:00,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,3400,kombi,2002,manuell,100,golf,150000,Jun,diesel,volkswagen,NaN,2016-03-20 00:00:00,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,28990,limousine,2013,manuell,320,m_reihe,50000,Aug,benzin,bmw,nein,2016-03-07 00:00:00,73326,2016-03-22 03:17:10

In [1]:
brandCount.plot(kind="bar")

NameError: name 'brandCount' is not defined